{% extends 'myblog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <h1 class='center grey-text text-darken-2'>Post Blog</h1>
    <div class="row">  
      <div class="card col s6 offset-s3">
        <div class="card-content">
          <form style="padding-left: 10px;padding-right:10px" method='POST' action="">
            {% csrf_token %}
            <div class="row">
              <label>Title</label>
              {{form.title}}
              <label style="padding-bottom: 3px;">Content</label>
              {{form.content}}
              <button class="btn waves-effect waves-light btn-large #64b5f6 blue lighten-2 right" type="submit" name="action">POST
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>

{% endblock content %}