{% extends 'myblog/base.html' %}
{% load static %}
{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="row">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 style="font-family: 'Dancing Script', cursive;" class="header center white-text text-darken-1">Your opinion matters</h1>
        <div class="row center">
          <h5 style="font-family: 'Bellota', cursive;" class="header col s12 white-text text-darken-1">Share your tech thoughts and ideas!</h5>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax"><img src="{% static 'myblog/pen.jpg' %}" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <h1 class='grey-text text-darken-2 center'>Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
	<br>
	<br>
  {% for post in posts %}
  <div class="row">
    <div class="col s12 m10 offset-m1 l9 offset-l1">
                <div class="post-preview">
                   <a href="{% url 'post-detail' post.id %}">
                    <div>
                      <h4 style="font-family: 'Lobster', cursive;" class="post-title titleFont grey-text text-darken-4">
                        {{post.title}}
                     </h4>
                    </div>
                    <div>
                      <h6 style="font-family: 'Indie Flower', cursive;" class="grey-text text-darken-2 post-subtitle subTitleFont truncate">
                        {{post.content}}
                     </h6>
                    </div>
                   </a> 
                    <div class="row">
                      <div class='col s12 l4'>
                        <p class="post-meta black-text"><i class="fa fa-clock-o"></i> {{post.date_posted}} by <a href="{% url 'user-post' post.author.username %}">{{post.author}}</p></a>
                      </div>
                      <div class="col s12 l2">
                        <img style="width: 50%;height:50%" src="{{post.author.profile.image.url}}" class="circle responsive-img left" alt="">
                      </div>
                    </div>
                <hr>
    </div>
  </div>
{% endfor %}
</div>
<div class="">
  
<ul class='pagination right'>
  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li class='disabled'><a><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <li class="waves-effect active #64b5f6 blue lighten-2"><a href="?page={{ num }}">{{ num }}</a></li>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <li class='waves-effect'><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
{% endif %}

{% endif %}
</ul>
</div>
</div>

{% endblock content %}