<!-- Navbar -->
<div class="navbar-fixed">
  <nav style="opacity: 1.0;" class='#fafafa grey lighten-5'>
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" style="font-family: 'Abril Fatface', cursive;
      " class="grey-text text-darken-2 brand-logo center truncate">InnoBlog</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons grey-text text-darken-2">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'home' %}">Home</a></li>
        <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'about' %}">About</a></li>
        
      </ul>
      {% if user.is_authenticated %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'profile' %}">Profile</a></li>
        <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'logout' %}">Logout</a></li>
      </ul>
      {% else %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'login' %}">Login</a></li>
          <li><a style="font-family: 'Bellota', cursive;" class="grey-text text-darken-4" href="{% url 'register' %}">Sign Up</a></li>
        </ul>
      {% endif %}
  
    </div>
  </nav>
</div>

<!-- Nav when resizing the screen -->
{% if user.is_authenticated %}
<ul class="sidenav" style="opacity: 0.8;" id="mobile-demo">
  <li><a href="{% url 'home' %}">Home</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'about' %}">About</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'profile' %}">Profile</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% else %}
<ul class="sidenav" style="opacity: 0.8;" id="mobile-demo">
  <li><a href="{% url 'home' %}">Home</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'about' %}">About</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'login' %}">Login</a></li>
  <div class="divider"></div>
  <li><a href="{% url 'register' %}">Sign Up</a></li>
</ul>
{% endif %}
