{% extends 'myblog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <h4 style="color:rgb(54, 54, 54);" class='center col s12 teal-text'>Password Reset</h4><br>
  </div>

    <div class="row">  
      <div class="card col s6 offset-s3">
        <div class="card-content s12">
          <form style="padding-left: 10px;padding-right:10px" method='POST' action="">
            {% csrf_token %}
            <div class="row">
              {{form|crispy}}
              <div class="row">
                <button class="btn waves-effect waves-light btn-small #64b5f6 blue lighten-2 center col s12" type="submit" name="action">Request Password Reset
                  <i class="material-icons right">send</i>
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

</div>

{% endblock content %}