{% extends 'myblog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <h4 class="center">Welcome to your profile, {{user.username}}!</h4>
  </div>
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="card-content">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="{{user.profile.image.url}}" alt="" class="circle responsive-img"> 
          </div>
          <div class="col s10">
            <h2>{{user.username}}</h2>
            <h5>{{user.email}}</h5>
          </div>
        </div>
        <form style="padding-left: 10px;padding-right:10px" method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            {{u_form|crispy}}
            {{p_form|crispy}}
            <button class="btn waves-effect waves-light btn-large #64b5f6 blue lighten-2 right" type="submit" name="action">Update
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
      </div>
    </div>
      


{% endblock content %}
